- **Pseudonymization**: Replace the original identifier with a pseudonym, or a value that is not the original identifier but can be used to identify the individual. For example, a patient's name can be replaced with a pseudonym, such as a number, or a code. The pseudonym is not the same as the original identifier, but can be used to identify the individual. Pseudonymization is often used in clinical trials to protect the privacy of patients. The pseudonym is not the same as the original identifier, but can be used to identify the individual. Pseudonymization is often used in clinical trials to protect the privacy of patients. The pseudonym is not the same as the original identifier, but can be used to identify the individual. Pseudonymization is often used in clinical trials to protect the privacy of patients.
- **Anonymization:** Replacing identifying information with the *intent* to be fully non-reversable

### Techniques for anonymization 
- **Hashing / Crypto** Asajad Hussein => abd78ab78d67ac8977a796e897
- **Data masking** asajadhussein@hotmail.com => a**\*\*@\*\*\***.com
- **Generalization** Age: 34 => Age: 30-40
- **Aggregation** Group and Aggregate
- **Removing data** Remove column(s) form dataset

# Anonymization with hash
- There are many types of hash functions (algorithms). Example MD5, SHA-128, SHA256
- Hash functions are used to map data of arbitrary size to ficed-size values
- The same input always results in the same output (given it's using the same algorithm)
- (even) a small change in the input yields a totally different output string.
- It's not possible to reverse the process (i.e, given the output hash we cannot get the original string back.)

In [5]:
import hashlib as hl

text = "top secret information".encode('utf-8')

hl.sha256(text).hexdigest()

'd22b947784e2fb59e57d66264dce9bb431373687cc19f6e5d8d53d787331f90a'

In [9]:
print(f"{hl.sha256('hello world'.encode()).hexdigest() = }")
print(f"{hl.sha256('Hello world'.encode()).hexdigest() = }")

hl.sha256('hello world'.encode()).hexdigest() = 'b94d27b9934d3e08a52e52d7da7dabfac484efe37a5380ee9088f7ace2efcde9'
hl.sha256('Hello world'.encode()).hexdigest() = '64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c'

In [11]:
import pandas as pd

In [41]:
employees = pd.read_json('../Data/employees.json')
employees.head()

  first_name last_name             job_title  salary       department
0       John       Doe        Sales Director  120000            Sales
1       Jane     Smith        HR Coordinator   60000  Human Resources
2    Michael   Johnson     Software Engineer  110000               IT
3      Sarah  Williams  Marketing Specialist   75000            Sales
4      David     Brown            HR Manager   90000  Human Resources

In [42]:
employees["first_name"] = employees["first_name"].apply(lambda name: hl.sha256(name.encode()).hexdigest())
employees.head()

,first_name,last_name,job_title,salary,department
0,a8cfcd74832004951b4408cdb0a5dbcd8c7e52d43f7fe2...,Doe,Sales Director,120000,Sales
1,4f23798d92708359b734a18172c9c864f1d48044a75411...,Smith,HR Coordinator,60000,Human Resources
2,f089eaef57aba315bc0e1455985c0c8e40c247f073ce1f...,Johnson,Software Engineer,110000,IT
3,7e8c729e4e4ecc320cb411c4d1419bf5fbad733212d4e9...,Williams,Marketing Specialist,75000,Sales
4,a6b54c20a7b96eeac1a911e6da3124a560fe6dc042ebf2...,Brown,HR Manager,90000,Human Resources

In [43]:
name = input("Enter name:")
name_hash = hl.sha256(name.encode()).hexdigest()
print(name_hash)
employees.query(f"first_name == @name_hash")

7e8c729e4e4ecc320cb411c4d1419bf5fbad733212d4e9491b7630aaef0b8b1c

,first_name,last_name,job_title,salary,department
3,7e8c729e4e4ecc320cb411c4d1419bf5fbad733212d4e9...,Williams,Marketing Specialist,75000,Sales